/* Ampersand fallback font */
/* For tablets & smart phones */
/* For smartphones */
/* For smaller displays like laptops */
/* Image alignment*/
/* Navigation */
/* Head */
/* Slides */
/* About */
/* Wedding */
/* For tablets & smart phones */
/* For smartphones */
/* For smaller displays like laptops */
@font-face {
  font-family: 'Ampersand';
  src: url('font/baskvill-webfont.eot');
  src: url('font/baskvill-webfont.eot?#iefix') format('embedded-opentype'), url('font/baskvill-webfont.woff') format('woff'), url('font/baskvill-webfont.ttf') format('truetype'), url('font/baskvill-webfont.svg#webfont') format('svg');
  unicode-range: U26;
}
@font-face {
  font-family: 'Ampersand2';
  src: local('Arial');
  unicode-range: U270C;
}
body {
  background: url('../img/grey.png') repeat;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 1.05em;
  line-height: 25px;
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -o-animation-delay: 10s;
  -ms-animation-delay: 10s;
  animation-delay: 10s;
}
body div.photobg .container {
  background: url() no-repeat;
  padding: 20px 20px 0 20px;
}
h1 {
  font-family: "Droid Serif", Georgia, "Times New Roman", serif;
  font-weight: normal;
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -o-animation-delay: 10s;
  -ms-animation-delay: 10s;
  animation-delay: 10s;
  font-size: 50px;
  line-height: 75px;
}
h2 {
  font-family: "Droid Serif", Georgia, "Times New Roman", serif;
  font-weight: normal;
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -o-animation-delay: 10s;
  -ms-animation-delay: 10s;
  animation-delay: 10s;
  font-size: 35px;
  line-height: 45px;
}
h3 {
  font-family: "Droid Serif", Georgia, "Times New Roman", serif;
  font-weight: normal;
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -o-animation-delay: 10s;
  -ms-animation-delay: 10s;
  animation-delay: 10s;
  font-size: 22px;
  line-height: 28px;
}
h4 {
  font-family: "Droid Serif", Georgia, "Times New Roman", serif;
  font-weight: normal;
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -o-animation-delay: 10s;
  -ms-animation-delay: 10s;
  animation-delay: 10s;
  font-size: 18px;
  line-height: 24px;
}
h5 {
  font-family: "Droid Serif", Georgia, "Times New Roman", serif;
  font-weight: normal;
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -o-animation-delay: 10s;
  -ms-animation-delay: 10s;
  animation-delay: 10s;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}
h6 {
  font-family: "Droid Serif", Georgia, "Times New Roman", serif;
  font-weight: normal;
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -o-animation-delay: 10s;
  -ms-animation-delay: 10s;
  animation-delay: 10s;
}
p {
  margin: 5px 0px;
  font-weight: 300;
}
a {
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  color: #0088cc;
}
a:visited {
  color: #0088cc;
}
a:hover {
  color: #006699;
}
a:hover,
a:active,
a:focus {
  outline: 0;
}
a .section-anchor {
  margin-bottom: 60px;
}
blockquote {
  text-align: left;
}
blockquote cite {
  text-align: right;
}
blockquote p {
  font-weight: 700;
}
form {
  margin-top: 15px;
}
form.rsvp {
  text-align: left;
}
form.rsvp h4 {
  text-decoration: underline;
}
form .form-actions {
  background: transparent;
  border-top: 0;
}
.border {
  height: 20px;
}
.color {
  color: #5C76A6;
}
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
#notifications {
  margin-bottom: 30px;
}
.well {
  background: #fff;
  border-radius: 15px;
  border: 1px solid #DDDDDD;
  padding: 10px 20px;
  box-shadow: inset 0px 0px 1px #ccc;
}
.bor {
  background: url('../img/bor.png') no-repeat;
  height: 20px;
  width: 240px;
  margin: 0 auto;
}
#intro p {
  font-size: 1.25em;
}
#intro p:first-letter {
  font-size: 1.5em;
  font-family: "Droid Serif", Georgia, "Times New Roman", serif;
}
.itop {
  width: 20px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: -32px;
  border: 1px solid #DDDDDD;
  height: 20px;
  background: #eee;
  border-radius: 30px;
  font-size: 13px;
  line-height: 18px;
}
.itop a {
  color: #aaa;
}
.itop a:hover {
  text-decoration: none;
}
.alignleft,
img.alignleft {
  margin-right: 8px;
  margin-top: 5px;
  display: inline;
  float: left;
}
.alignright,
img.alignright {
  margin-left: 8px;
  margin-top: 5px;
  display: inline;
  float: right;
}
.aligncenter,
img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}
.button {
  margin: 10px 0px;
}
.button a,
.button a:visited {
  background: #5C76A6;
  color: #fff;
  width: 100px;
  padding: 6px 15px;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #888888;
}
.button a:hover {
  background: #495e86;
  text-decoration: none;
}
.navbar-inner {
  border-radius: 0px;
  background: #5C76A6;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  border: none;
  border-bottom: 1px solid #000;
  text-align: center;
}
.navbar .btn {
  background: #5C76A6;
}
.navbar .btn:hover {
  background: #495e86;
}
.navbar .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar .nav,
.navbar .nav > li {
  float: none;
  display: inline-block;
  /* ie7 fix */
  *display: inline;
  /* hasLayout ie7 trigger */
  *zoom: 1;
  vertical-align: top;
}
.navbar .nav > li > a {
  padding: 14px 15px 13px;
  color: #fff;
  text-shadow: none;
  font-size: 14px;
}
.navbar .nav > li > a:hover {
  background: #495e86;
  color: #fff;
}
.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
  color: #fff;
  box-shadow: none;
  background: #495e86;
}
.dropdown-toggle {
  background: #5C76A6;
}
.nav-collapse a {
  font-weight: normal;
  text-shadow: none;
}
.dropdown-menu {
  background: #5C76A6;
}
.dropdown-menu a {
  color: #fff;
  text-shadow: none;
}
.dropdown-menu a:hover {
  filter: none;
  background: #495e86;
}
section {
  text-align: center;
  padding-top: 20px;
  color: #333;
  margin-bottom: 20px;
}
section h1 {
  color: #333333;
}
section h2 span {
  color: #777;
}
section h3 {
  font-size: 18px;
  line-height: 23px;
}
section .well {
  color: #666;
  background: #fff;
  padding: 20px 40px;
  box-shadow: inset 0px 0px 2px #111;
  border: 1px solid #495e86;
  display: inline-block;
  border-radius: 10px;
  max-width: 700px;
  font-size: 1em;
  line-height: 24px;
}
section .location .about .leaflet-popup-content .vcard {
  font-size: 1.1em;
  line-height: 1.5em;
}
section .location .about .vcard {
  text-align: left;
  font-size: 0.9em;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}
section .location .about img {
  float: none;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  box-shadow: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
section .location .about #map-hotel,
section .location .about #map-venue {
  height: 200px;
}
section .location .about .modal {
  max-height: inherit;
  width: inherit;
  margin-left: 0;
  left: 7%;
}
section .location .about .modal-body {
  max-height: inherit;
}
section .location .about #hotel,
section .location .about #venue {
  cursor: pointer;
}
section .directions p {
  text-align: left;
}
section .directions dl {
  text-align: left;
  font-size: 1em;
  font-weight: 300;
}
section .directions dl dd {
  padding-bottom: 1em;
}
.leaflet-control-layers-toggle {
  background-image: url(../img/vendor/layers.png);
}
.head {
  text-align: center;
  margin-bottom: 10px;
}
.head h2 {
  margin: 5px 0;
}
.first-container {
  margin-top: 48px;
}
.container-fluid {
  width: 940px;
}
.about {
  padding: 10px 20px;
  background: #fafafa url('../img/wave.png') repeat;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid #eee;
  box-shadow: inset 0px 0px 2px #111;
}
.about img {
  float: left;
  margin: 0 8px 0 15px;
  border: 1px solid #ccc;
  box-shadow: inset 0px 0px 3px #ccc;
  background: #fff;
}
.about h3 {
  font-weight: 700;
}
.about .ameta {
  color: #888;
  font-weight: normal;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 20px;
}
.about h3 {
  text-align: left;
}
.about div.row > p {
  padding: 10px;
}
.container .story {
  max-width: inherit;
}
.container .story p {
  font-size: 0.9em;
}
.container .story p.emph {
  font-weight: bold;
}
.wedding-party {
  text-align: left;
  padding: 10px 0;
}
.wedding-party img {
  float: left;
  margin: 0 8px 0 15px;
  border: 1px solid #ccc;
  box-shadow: inset 0px 0px 3px #ccc;
  background: #fff;
}
.wedding-party h3 {
  font-weight: 700;
}
.wedding-party .ameta {
  color: #888;
  font-weight: normal;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 20px;
}
.flex-direction-nav a {
  background: url(../img/vendor/bg_direction_nav.png) no-repeat 0 0;
}
.flex-direction-nav a.flex-prev {
  margin-left: 5px;
}
.flex-direction-nav a.flex-next {
  margin-right: 5px;
}
.flex-control-nav {
  position: static;
}
.flexslider {
  margin-left: auto;
  margin-right: auto;
}
.flexslider .slides {
  padding-bottom: 5px;
}
.flexslider .slides li .person {
  text-align: left;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.flexslider .slides li .person h3 {
  margin-top: 0;
}
.flexslider .slides li .person img {
  max-width: 200px;
  padding: 0 10px 10px 0;
  float: left;
}
.flexslider .slides li .person div {
  display: inline;
}
.flexslider .slides li .person p {
  padding-bottom: 1em;
}
ul.people {
  list-style-type: none;
  margin-bottom: 0;
}
ul.people li {
  text-align: center;
  float: left;
  padding: 0 10px;
}
ul.people li:nth-child(1):nth-last-child(1) {
  width: 100%;
}
ul.people li:nth-child(1):nth-last-child(2),
ul.people li:nth-child(2):nth-last-child(1) {
  width: 44%;
}
ul.people li img {
  padding-right: 10px;
}
ul.registry {
  padding-top: 10px;
}
ul.registry li {
  list-style-type: none;
  padding-bottom: 20px;
}
.wedding {
  padding: 10px 20px;
  background: #fafafa url('../img/wave.png') repeat;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid #eee;
}
.wedding h4 i {
  margin-top: 4px;
  margin-right: 2px;
}
.wedding table {
  width: 100%;
}
@media (max-width: 767px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container {
    width: auto;
  }
  header {
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 50px;
  }
  header h1 {
    font-size: 35px;
    line-height: 53px;
    text-shadow: none;
  }
  header .well {
    margin: 5px 10px;
  }
  .navbar .nav,
  .navbar .nav > li {
    float: none;
    display: block;
    margin-top: 5px;
  }
  .navbar-inner {
    text-align: left;
    margin-left: -20px;
    margin-right: -20px;
  }
  .wedding {
    text-align: center;
    max-width: 350px;
    margin: 10px auto;
  }
  form button {
    margin-left: 0px;
  }
  div.about blockquote {
    border: 0;
  }
}
@media (max-width: 480px) {
  header {
    padding-top: 20px;
  }
  .navbar .nav,
  .navbar .nav > li {
    float: none;
    display: block;
    margin-top: 5px;
  }
  .navbar-inner {
    text-align: left;
  }
  .flex-caption {
    display: none;
  }
  .container {
    width: auto;
  }
  div.about img {
    float: none;
  }
  div.about blockquote {
    border: 0;
    clear: both;
    padding-top: 10px;
  }
  section .registry {
    padding: 10px 20px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  header {
    margin-top: -20px;
  }
  .navbar .nav,
  .navbar .nav > li {
    float: none;
    display: block;
    margin-top: 5px;
  }
  .container .nav-collapse .nav > li > a {
    color: #fff;
  }
  .container .nav-collapse .nav > li > a:hover {
    background-color: #1a3971;
  }
  .navbar-inner {
    text-align: left;
  }
  .container {
    width: 724px;
  }
  div.about blockquote {
    border: 0;
  }
}
